<?xml version="1.0"?>
<configuration>
  
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>

    <nlog autoReload="true">
    <variable name="verbose-layout" value="${date:format=HH\:mm\:ss.fff}|${level:uppercase=true:padding=5}|${threadid:padding=2}|${logger:shortname=true:padding=26}|${message}${exception:format=tostring}"/>
    <variable name="filename-prefix" value="${basedir}/logs/backupreader.${shortdate}"/>
    <targets>
      <target name="file" type="File" encoding="utf-8" fileName="${filename-prefix}.log" layout="${verbose-layout}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
